.contactsBlock {
    background-color: #b23c25;
    min-width: 280px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactsContainer {
    height: 80%;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid;

}

.contactsTitle {
    background-color: #d1bdb9;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contactsForm {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 80%;
    background-color: #bcbcbc;
}

.textArea {
    resize: none;
    wrap-option: on;
    overflow: auto;
    min-width: 250px;
    min-height: 175px;
    background-color: #ffffff;
}