@import "src/common/styles/sass/variables";
.title {
  margin-top: 15px;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  color: $secondColor;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  position: relative;

  .title h2 {
    font-size: 38px;
    line-height: 50px;
    @media only screen and (max-width: 1199px) {
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background: $primaryColor;
    bottom: -15px;
    ///*transition: all .3s ease;*/
    ///*transform: scaleX(0);
    left: 50%;
    transform: translate(-50%, 50%);
  }

}
