.title{
    margin-top: 15px;
    margin-bottom: 0;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #c4cfde;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    position: relative;
}

.title ::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background: #eb83f8;
    bottom: -15px;
    /*transition: all .3s ease;*/
    /*transform: scaleX(0);*/
    left: 50%;
    transform: translate(-50%,50%);
}


@media only screen  and (max-width: 1199px){
    .title h2 {
         font-size: 38px;
         line-height: 50px;
    }
}
