.skillsBlock {
    min-height: 100vh;
    min-width: 280px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.skillsTitle {
    background-color: cadetblue;
}

.skills {
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}