@import "src/common/styles/sass/variables";

.skillsBlock {
  min-height: 100vh;
  min-width: 280px;
  background:$backgroundSecondColor ;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: 30px;
    }

  }
}

