@import "src/common/styles/sass/variables";

.skillsBlock {
  background: $backgroundSecondColor;

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    min-height: 100vh;
    padding: 0;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 991px) {
      display: block;
      flex-wrap: wrap;
    }

    &::before {
      display: table;
      content: " ";
      box-sizing: border-box;
    }

    &::after {
      clear: both;
    }

    .skillsContainer {
      flex-direction: column;
      justify-content: flex-start;

      .skills {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 30px;
      }
    }
  }
}

