@import "src/common/styles/sass/variables";
.mainBlock {
    min-height: 100vh;
    min-width: 280px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainDesc span {
    font-family: $secondaryFont;
    font-size: 48px;
    color:$textColor2;
}

.mainDesc h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 22px;
    font-family: $secondaryFont;
}
.mainDesc p {
    font-family: $secondaryFont;
    font-size: 48px;
    color:$textColor2;
}

.mainPhoto {
    min-width: 280px;
    min-height: 400px;
    background-color: cornflowerblue;
    margin-top: 20px;
}