.projectBlock{
    height: 100vh;
    background-color: #04c4ff;
}

.projectContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.projectsTitle{
    background-color: #99cafb;
}

.projects{
    width: 80%;
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
}