$textColor: #fff;
$textColor2: #c4cfde;
$primaryColor: #714078;
$secondColor:#c4cfde;
$backgroundColor:#212428;
$backgroundSecondColor:#191b1e;
$backgroundThirdColor:#ffffff;
$primaryFont:'Montserrat', sans-serif;
$secondaryFont:'Poppins', sans-serif;
$shadow1:10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
$shadow2:inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
$transition: 0.4s;