$textColor: #fff;
$primaryColor:#eb83f8;
$secondColor:#c4cfde;
$backgroundColor:#212428;
$backgroundSecondColor:#191b1e;
$backgroundThirdColor:#ffffff;
$primaryFont:'Montserrat', sans-serif;
$secondaryFont:'Poppins', sans-serif;