.footerBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darksalmon;
    min-height: 200px;
}

.footerContainer{
    height: 85%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #000000 1px solid;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}

.footerTitle{
    background-color: cornflowerblue;
}

.iconsBlock{
    width: 30%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-evenly;
}