.projectBlock {
    min-height: 100vh;
    min-width: 280px;
    background-color: #212428;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}